if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0K+LMXnfcuosneiyJmmRm7T5p+CmK3bjE8Hjx2A="
fi

watch_file devenv.nix
watch_file flake.nix
use flake . --impure
